workflows/Description_Enrich.json
{
  "name": "Description_Enrich",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        0
      ],
      "id": "bc54f8d8-88fb-47ee-a6ed-38b435608239",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const created = $json.data?.task || $json.data || $json;\n\nreturn {\n  taskId: created.id,\n  title: created.title || '',\n  userId: created.user_id || $json.userId || null,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        0
      ],
      "id": "0c399475-4579-43ee-9382-5802840df08f",
      "name": "prepare_enrich_payload"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Task title: \"{{ $json.title }}\"\n\nGenerate the description and optional checklist.",
        "options": {
          "systemMessage": "System message:\n\nYou are an assistant that writes helpful task descriptions for a personal task manager.\n\nWrite a concise, clear description of what the task is about.\n\nIf helpful, add a short checklist with 3–5 bullet points.\n\nKeep everything under 120 words total.\n\nUse simple, direct language.\n\nDo not mention that this was generated by AI\n\nRemember you can either enrich the description based on the task name;\n\nYou can describe how you belive is the best step by step to do it;\n\nO rather search on the interner relevant information and bring the links as references to complete this task."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        384,
        0
      ],
      "id": "c991edb1-78a6-4257-95d6-71f00631140e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        256,
        208
      ],
      "id": "d776a400-db1f-4747-a6f0-38782d0079fa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "6oGCaUeYhfzxbei4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://task-flow-bruno-c.vercel.app/api/tasks/{{ $json.taskId }}?userId={{ $json.userId }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        976,
        0
      ],
      "id": "28b9e1d7-d32a-4344-aade-7ef8eb728828",
      "name": "Update_Task_Description"
    },
    {
      "parameters": {
        "jsCode": "const base = $node['prepare_enrich_payload'].json;\nconst ai = $json;  // saída do OpenAI/AI Agent\n\n// A saída vem em \"output\"\nlet description = ai.output || ai.text || '';\n\n// Se output for um JSON string, parseia\nif (typeof description === 'string' && description.startsWith('{')) {\n  try {\n    const parsed = JSON.parse(description);\n    description = parsed.description || parsed.text || description;\n  } catch (e) {\n    // mantém como está\n  }\n}\n\nreturn {\n  taskId: base.taskId,\n  userId: base.userId,\n  description: description.trim(),\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        0
      ],
      "id": "a0faeaab-4cd5-4f9e-9b3b-8a3f814ee931",
      "name": "merge_enriched"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "success": true,
          "data": {
            "id": "c290cbca-bc2e-4421-ba33-6e434bf96d7d",
            "user_id": "26e90e24-cdc8-4c35-a6c2-8cce46140ee1",
            "title": "prepare a brownie",
            "description": null,
            "is_completed": false,
            "created_at": "2025-12-19T18:14:56.118638+00:00",
            "updated_at": "2025-12-19T18:14:56.118638+00:00"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "prepare_enrich_payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare_enrich_payload": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "merge_enriched",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge_enriched": {
      "main": [
        [
          {
            "node": "Update_Task_Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "32033261-8164-42e1-ac47-c07873d84fce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "65535a2010b4ec8a66ed672cf797357a43404fb2cc7e332660a812007c295aa1"
  },
  "id": "SlcNmK27I00YCKtM",
  "tags": []
}